@tailwind base;
@tailwind components;

@layer components {
  .bg-theme-gray-slate {
    @apply bg-cover bg-gradient-to-r from-[#D3D3D3] to-[#eaeaea];
  }
}

@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
  }
}

.grid-container{
  display: grid;
  margin: 2%;
  grid-template-columns:  auto auto auto auto;
  grid-template-rows:max-content;
  gap: 10px;
  background-color: #181c22 ;
  padding: 20px;
  align-content: center;
  border-radius: 10px/ 10px;
  color: whitesmoke;
}

.grid-container > div{
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 10px/ 10px;
}

.TableCaption{
  font-weight: 500;
  background-color: rgb(58, 70, 87);
}

.TableValue{
  background-color: rgba(59, 59, 59, 0.8);
}

.grid-container-notes{
  display: grid;
  margin: 2%;
  grid-template-columns: 15% 10% 73% ;
  grid-template-rows:auto;
  gap: 10px;
  background-color: #181c22 ;
  padding: 20px;
  align-content: center;
  border-radius: 10px/ 10px;
  color: whitesmoke;
}

.grid-container-notes > div{
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 10px/ 10px;
}

.grid-container-issues{
  display: grid;
  margin: 2%;
  grid-template-columns: auto auto auto auto auto auto auto auto ;
  grid-template-rows:auto;
  gap: 10px;
  background-color: #181c22 ;
  padding: 20px;
  align-content: center;
  border-radius: 10px/ 10px;
  color: whitesmoke;
}

.grid-container-issues > div{
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  border-radius: 10px/ 10px;
}

.item1 {
  grid-column: 1 / 4;
}

.item1i {
  grid-column: 1 / 9;
}


th {
border-bottom: 1px solid grey;
color: white;
}

td {
text-align: center;
border-bottom: 1px solid grey;

}


tr{

}